* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.elem{
    margin-top: 10px;
    margin-bottom: 15px;
}

#session-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    align-items: center;
    color: #001a41;
}


#label {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    white-space: nowrap;
    order: 1;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
}

#create-session-btn{
    margin-left: 8px;
    background-color: #00a000;
    font-size: 30px;
    padding: 8px;
    border-radius: 8px;
    position: relative;
    top: -4px;
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    outline: none;
    overflow: hidden;
}

#create-session-btn #front{
    position: relative;
}

#create-session-btn #back{
    position: absolute;
    /* background-color: #00369b; */
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    mix-blend-mode:color;
}

#create-session-btn #back #circle{
    fill: #00369b;
}

#label2 {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    white-space: nowrap;
    order: 2;
}

#session-id{
    position: relative;
    height: 30px;
    order: 3;
    width: 100%;
    border: 1px solid #ddd;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    text-align: center;
    animation: key-down 0.1s 0;
}

@keyframes key-down {
    0%{
        top: 0px;
    }
    50%{
        top: 3px;
    }
    100%{
        top: 0px;
    }
}

#join-session-btn{
    order: 4;
    width: 50%;
    height: 30px;
    background-color: #001a41;
    border: none;
    border-radius: 15px;
    color: white;
    outline: none;
    cursor: pointer;
    display: grid;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
}

#join-session-btn #front{
    position: relative;
    font-family: 'Roboto';
    top: 15px;
    transform: translateY(-50%);
    display: block;
}

#join-session-btn svg{
    position: relative;
    /* visibility: hidden; */
}

#join-session-btn svg #back{
    fill: #004ba0;
    mix-blend-mode: screen;
}